{% extends 'main/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block title_1 %}
Литература
{% endblock %}


{% block content %}


     <script>
            function f(s1,s2,s3,s4,s5){


                document.getElementById("name").innerHTML= "Название";
                document.getElementById("seria").innerHTML= "Серия";
                document.getElementById("num_page").innerHTML= "Количество страниц";
                document.getElementById("id_a").innerHTML= "Автор";
                document.getElementById("id_ph").innerHTML= "Издательство";

                document.getElementById("tab1").innerHTML= s1;
                document.getElementById("tab2").innerHTML= s2;
                document.getElementById("tab3").innerHTML= s3;
                document.getElementById("tab4").innerHTML= s4;
                document.getElementById("tab5").innerHTML= s5;

            }
            function g(s){
            document.getElementById("t").innerHTML= s;

            }
     </script>


    <h1>Главная страница</h1>

    {% for el in books %}
        <div>
            <p>{{el.name}}</p>
            <p>{{el.num_page}}</p>
            <a href="update/{{ el.id }}">Редактировать</a>
            <button type="button" class="btn btn-success" onclick="f('{{el.name}}','{{el.seria}}','{{el.num_page}}','{{el.id_a}}','{{el.id_ph}}')">Развернуть</button>{% endfor%}
            <div>
                <table class="table" BORDER=0>
                <thead>
                    <tr>
                        <th id="name"></th>
                        <th id ="num_page"></th>
                        <th id = "seria"></th>
                        <th id = "id_a"></th>
                        <th id = "id_ph"></th>
                    </tr>
                </thead>
            <tbody>
                    <tr><td id="tab1"></td><td id="tab2"></td><td id="tab3"></td><td id ="tab4"></td><td id ="tab5"></td></tr><br>
            </tbody>
        </table>
            </div>
        </div>


{% endblock %}

